<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<h2>Registration Form</h2>

<form method="POST">
    {{ form.hidden_tag() }}

    {{ form.firstname.label }}
    {{ form.firstname }}
    {% for error in form.firstname.errors %}
        <span style="color:red">{{ error }}</span>
    {% endfor %}

    {{ form.lastname.label }}
    {{ form.lastname }}

    {{ form.username.label }}
    {{ form.username }}

    {{ form.email.label }}
    {{ form.email }}
    {% for error in form.email.errors %}
        <span style="color:red">{{ error }}</span>
    {% endfor %}

    {{ form.password.label }}
    {{ form.password }}

    {{ form.confirm_password.label }}
    {{ form.confirm_password }}
    {% for error in form.confirm_password.errors %}
        <span style="color:red">{{ error }}</span>
    {% endfor %}

    <br><br>
    {{ form.submit }}

</form>

</body>
</html>